{% extends "base.html" %}

{% block content %}
    <h1>About Me</h1>
    <p>
        Hello, I am Alex Artho a senior CIS major at WTAMU and this is my personal website made with Django.
        I am aspiring to be a data analyst, especially in the video game field as video games are a defining part of my life.
        It's my favorite hobby and maybe one day I will use some of this programming knowledge to make my own one day. Though even
        without video games, coding is a great skill to have in this growing technological world we live in.
    </p>
    <p>
        Other than why I am pursuing my degree, I enjoy learning new things especially when it involves technology or history.
        I quite like walking, though it needs to be a more earthy place and not just roads for me to really enjoy it. So I guess hiking?
        I am super excited to expand my programming skills, though it has been a little tough reeling in my serial procrastination to focus 
        on what needs to get done this semester before I graduate in May. To a great semester!
    </p>
{% endblock content %}